# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
.swiftpm/
.build/

# Cocoapods/Cartfile
Pods/
Cartfile.resolved
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.DS_Store
*.swp
